@font-face {
    font-family: "Montserrat-Light";
    src:url("../fonts/montserrat/Montserrat-Light.otf") format("opentype");
}
@font-face {
    font-family: "Montserrat-Medium";
    src:url("../fonts/montserrat/Montserrat-Medium.otf") format("opentype");
}
@font-face {
    font-family: "Montserrat-Regular";
    src:url("../fonts/montserrat/Montserrat-Regular.otf") format("opentype");
}